@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
$yellow: #f8d048;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables.sass";

// 6. Import the rest of Bulma
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

$navbar-background-color: #FFD83D;
$navbar-item-hover-background-color: #fff000;

body {
  background-color: $yellow;
}